a{
    text-decoration: none;
    color:grey;
    font-style: italic;

}
h2, h4{
    text-align: center;
}


#wrapper{
    background-color: azure;
    max-width: 1020px;
    margin:0 auto;
    font-family: "Book Antiqua",serif;
}
.header{
    background-color:rgb(60, 60, 60);
    border-radius:20px;
}
.header h1{
    text-align:center;
    color:#FFBF02;
}
.overview{
    display:flex;
    margin-top:40px;
    background-color: rgb(60, 60, 60);
    border-radius: 20px;
    color:white;
    margin-bottom: 20px;
    padding:20px;
}

.overview div, .overview div h2  {
    margin: 0;
    padding: 0;
}

.overview img{
    border-radius:5px;
    border:solid white 5px ;
    margin:50px 30px 0px 0px;
}
.overview p{
    line-height:1.75;
}

.tableofcontent{
    background-color:rgb(60, 60, 60);
    border-radius: 20px;
    color:white;
    margin-bottom: 20px;
}
.tableofcontent p{
    padding:10px;

}
.lessons{
    display:-webkit-flex;
    display:inline-flex;

}
.lesson{
    border-radius:5px;
    border: outset white 5px;
    padding:10px;
    margin-left: 70px;
    margin-bottom: 10px;
}
.content{
    background-color: rgb(60, 60, 60);
    border-radius: 20px;
    color:white;
    margin-bottom:20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
.contenttext{
    border-radius: 5px;
    background-color: white;
    color:black;
}
.contenttext p{
    padding:10px;
    line-height: 1.5;
}